.user-box {
    position: fixed;
    right: 30px;
    top: 55px;
    display: flex;
    flex-direction: column;
    z-index: 40;
    width: 300px;
    /* height: 100px; */
    background-color: #262626;
    padding: 20px;
    gap: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.user-infor {
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
}

.user-infor i {
    font-size: 50px;
}

.user-infor span {
    color: #fff;
    font-size: 20px;
    font-weight: 600;
}

.user-actions span {
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
}

.user-actions span:hover {
    background-color: #ffffff24;
}

.user-actions span i {
    margin-right: 10px;
}

.user-actions {
    color: #ffffff99;
    font-size: 16px;
    display: flex;
    flex-direction: column;
}

.setting-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #ffffff99;
    font-weight: 400;
}

.setting-box>span {
    font-size: 20px;
    font-weight: 500;
}

.display-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.setting-box .back-btn {
    color: #ffffff99;
    cursor: pointer;
    padding: 5px 10px;
    width: 80px;
}

.back-btn:hover {
    background-color: #ffffff24;
    border-radius: 5px;
}

.setting-box div input {
    flex: 1;
    border: none;
    outline: none;
    width: 100px;
}

.setting-box div input[type="text"] {
    background-color: inherit;
    color: #f5f5f5;
    padding: 5px;
}

.setting-box button {
    background-color: #2cbb5d;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.medium-avatar {
    width: 50px;
    height: 50px;
}

.user-box:not(.hidden) {
    animation: fadeIn 0.3s ease;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}