.submissions-container {
    height: 100%;
    background-color: #262626;
    display: flex;
    flex-direction: column;
}

.header-submissions {
    height: 32px;
    display: flex;
    flex-direction: row;
    color: #ffffff99;
    font-weight: 400;
    background-color: #262626;
    border-bottom: 0.1px solid #ffffff99;
    align-items: center;
    padding-left: 50px;
}

.body-submissions {
    color: #eff1f6bf;
    font-weight: 400;
    flex: 1;
}

.submission-card {
    display: flex;
    flex-direction: row;
    padding: 15px 15px;
    cursor: pointer;
}

.light-background {
    background-color: #353535;
}

.index-submissions {
    width: 30px;
}

.status-submissions {
    width: 150px;
    font-weight: 500;
}

.language-submissions {
    width: 90px;
}

.tag {
    font-size: 12px;
    line-height: 16px;
    padding: 2px 6px;
    background-color: #ffffff24;
    border-radius: 99px;
    white-space: nowrap;
}

.runtime-submissions {
    width: 90px;
}

.runtime-submissions i {
    color: #eff1f6bf;
}

.error-status {
    color: rgb(239 71 67);
}

.accept-status {
    color: rgb(44 187 93);
}