.code-editor-container {
    height: 100%;
    width: 100%;
    background-color: #262626;
    color: #f5f5f5;
    padding: 16px;
    font-weight: 400;
}

.language-selected-container {
    background-color: #262626;
    height: 32px;
}

.language-selected {
    outline: none;
    border: none;
    background-color: inherit;
    font-weight: 400;
    cursor: pointer;
    padding: 7px;
    width: fit-content;
    color: #B1B1B1;
}

.footer-editor {
    background-color: #0a84ff2e;
    height: 36px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
    color: #eff1f6bf;
}

.footer-editor .blue-span {
    color: rgb(10 132 255);
    font-weight: 500;
    margin: 0 4px;
}

.footer-editor .blue-span:hover {
    text-decoration: underline;
}