.solutions-container {
    position: relative;
    height: 100%;
    background-color: #262626;
    display: flex;
    flex-direction: column;
}

.search-group {
    position: absolute;
    right: 20px;
    z-index: 1;
}

.search-group button {
    cursor: pointer;
    background-color: #1c1c1c;
    border: none;
    color: #ffffff99;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 2px 2px #ffffff24;

}

.search-group button:hover {
    background-color: #757575;
}

.body-solutions {
    flex: 1;
}

.solution-card {
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    padding-left: 10px;
}

.solution-card .avatar {
    width: 24px;
    height: 24px;
}

.solution-card .avatar i {
    font-size: 24px;
}

.body-card {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    border-bottom: 0.1px solid #ffffff24;
    width: 100%;
    padding-bottom: 10px;
    cursor: pointer;
}

.delete-icon {
    position: absolute;
    color: #fff;
    top: 40px;
    right: 10px;
    cursor: pointer;
    z-index: 0;
}

.delete-icon:hover {
    font-size: 20px;

}

.infor {
    font-size: 12px;
    color: #ffffff99;
}

.title-solutions {
    color: #fff;
    font-weight: 500;
    font-size: 16px;
}

.reactions {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: hsl(0 0% 66%);
}

.reactions span {
    cursor: pointer;
}

.reactions i {
    color: inherit;
}

.solution-container {
    display: flex;
    flex-direction: column;
    background-color: #262626;
    height: 100%;
}

.header-solution {
    height: 32px;
    display: flex;
    flex-direction: row;
    color: #ffffff99;
    font-weight: 400;
    background-color: #262626;
    border-bottom: 0.1px solid #ffffff99;
    align-items: center;
    padding-left: 10px;
}

.header-solution span {
    cursor: pointer;
}

.body-solution {
    padding: 20px;
}

.content-solution {
    color: #fff;
}

.title-solution {
    font-size: 30px;
    color: #fff;
    font-weight: 700;
}

.author-infor {
    display: flex;
    flex-direction: row;
    margin: 10px;
}

.author-infor i {
    font-size: 34px;
}

.author-infor>.avatar-frame {
    width: 34px;
    height: 34px;
    border: none !important;
}

.author-infor div {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    color: #757575;
    font-size: 12px;
    font-weight: 400;
}

.author-infor div span:first-child {
    color: #f5f5f5;
    font-size: 500;
    font-size: 14px;
}

.small-avatar {
    width: 24px;
    height: 24px;
    border: none !important;
}

.edit-my-solution {
    flex: 1;
    display: flex;
    flex-direction: row !important;
    align-items: center;
    justify-content: end;
    gap: 10px;
}

.edit-my-solution button {
    padding: 5px 10px;
    border-radius: 5px;
    color: #f5f5f5;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.edit-my-solution button:first-child {
    background-color: rgb(241, 86, 86);
}

.edit-my-solution button:nth-child(2) {
    background-color: #2cbb5d;
}

@media (max-width: 768px) {
    .search-group {
        top: 10px;
    }

    .solutions-container {
        padding: 10px;
    }

    .header-solution {
        height: 50px;
    }

    .header-solution span {
        font-size: 18px;
    }
}

@media (min-width: 768px) {
    .search-group {
        bottom: 50px;

    }
}