.header-container {
    display: flex;
    padding: 10px;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.no-background-btn {
    background-color: inherit;
    border: none;
    padding: 8px 10px;
    margin: 0 5px;
    color: #949494;
}

.list-problem {
    color: #f5f5f5;
    font-weight: bold;

}

.header-icon {
    width: 10px;
    height: 16px;
    color: #949494;
}

.avatar {
    width: 28px;
}

.action-btn {
    cursor: pointer;
}

.no-background-btn:hover {
    background-color: #9494945c;
    border-radius: 5px;
}

.middle-btn {
    padding: 10px 10px;
    font-weight: bold;
    background-color: #222222;
    border: none;
}

.middle-btn:hover {
    background-color: #9494945c;
}

.group-middle-btn {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    overflow: hidden;
    transform: translateX(-40px);
}

.run-header-btn {
    color: white;
}

.middle-icon {
    margin: 0 4px;
}

.group-left-header,
.group-right-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    color: #ffffff99;
    align-items: center;
}

.medium-icon {
    font-size: 20px;
}

.big-icon {
    font-size: 30px;
}

.fa-circle-user {
    color: #949494;
    cursor: pointer;
}

.group-right-header>div>span {
    font-weight: 400;
    margin: 10px;
    cursor: pointer;

}

.group-right-header span:hover {
    color: white;
}

@media (max-width: 768px) {
    .group-middle-btn {
        display: none;
    }

    .header-icon {
        font-size: 15px;
    }

    .fa-circle-user {
        font-size: 30px;
    }

    .medium-icon {
        font-size: 20px;
    }

    .header-container {
        background-color: #ffffff24;
    }
}