.header-home {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 50px;
    background-color: hsl(0deg 0% 15.69%);
    color: #ffffff99;
    border-bottom: 0.1px solid #ffffff24;
    z-index: 30;
}

.header-home img {
    width: 30px;
    height: auto;
}

.header-home>div>span {
    font-weight: 400;
    margin: 10px;
    cursor: pointer;
}

.header-home span:hover {
    color: white;
}