.description {
    white-space: pre-line;
}

.content-example {
    white-space: pre-wrap;
    word-break: break-word;
    margin-top: 16px;
    padding-left: 16px;
    color: #a8a8a8;
    border-left: 2px solid #454545;
    font-size: 15px;
}

.title-problem h1 {
    font-weight: 500;
    margin-bottom: 20px;
}

.tags {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10px;
    flex-wrap: wrap;
}

.tags span {
    font-size: 12px;
    line-height: 16px;
    padding: 4px 10px;
    background-color: #3c3c3c;
    border-radius: 99px;
    margin-right: 5px;
    white-space: nowrap;
    color: #f5f5f5;
}

.problem-container strong {
    color: white;
    font-weight: 700;
}

li {
    list-style-position: outside;
    margin-left: 15px;
}

/* .constraints ul li code {
    background-color: #3c3c3c;
    padding: 2px;
    border-radius: 3px;
    border: 0.1px solid #535353;
    color: #a8a8a8;
    font-size: 12px;
}

.constraints ul li {
    margin: 10px;
} */

.easy-tag {
    color: #3fc37d !important;
}

.medium-tag {
    color: #fac31d !important;
}

.hard-tag {
    color: #f8615c !important;
}

.text code {
    background-color: #ffffff12;
    border-color: #f7faff1f;
    color: #eff1f6bf;
    border-radius: 5px;
    border: 0.1px solid #ffffff24;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
    padding: 2px;
    font-size: 13.5px;
}

.text p {
    line-height: 1.5;
}

.constraints ul {
    height: 30px;
    /* margin-bottom: 10px; */
}

sup {
    font-size: 10px;
}