.verify-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    background-color: #fff;
    margin: 50px auto;
    padding: 30px;
    border-radius: 3px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.04);
    border: 1px solid #eee;
}

.description-verify {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 400;
}

/* .letters-group {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 20px;
    font-weight: 400;
} */

/* .input-letter {
    padding: 0;
    height: 35px;
    width: 10%;
    text-align: center;
} */

.input-code {
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 12px;
    overflow: hidden;
    text-overflow: clip;
}

.input-code::placeholder {
    letter-spacing: 0;
}

.resend-code {
    border: none;
    background-color: inherit;
    text-decoration: underline;
    cursor: pointer;
    color: #546e7a;
}

.verify-btn {
    width: 75%;
    margin: 10px;
    font-size: 18px;
}

.target-email {
    color: rgb(97, 153, 13)
}